body {
    font-family: 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 115%;
    background-color: antiquewhite;
}

header {
    background-color: #898989;
    display: inline-block;
    margin-bottom: 25px;
}

nav {
    display: inline-block;
    width: 80%;
}

nav + img{
    width: 10%;
    position: relative;
    top: 20px;
}

main {
    background-color: #feff00;
    font-size: 100%
}

footer {
    background-color: #d3d3d3;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.grid {
    display: grid;
    grid-template-columns: 40% 40%;
    justify-content: space-around;
    align-items: center;
    row-gap: 15px;
}

.grid img {
    width: 100%;
}


li {
    display: flex;
}

h1 {
    text-align: center;
    font-family: "Lucida Calligraphy";
    color:#0d0a8d;
}

p{
    line-height: 15px;
}
