body {
    font-family: 'Courier New', Courier, monospace;
    font-size: 115%;
    background-color: rgb(20, 7, 43);
    justify-content: center;
    display: flex;
}

p {
    font-weight: 600;
}

div {
    min-width: 0.5vw;
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    justify-self: center;
    background-color: aquamarine;
    border-radius: 25px;
    border : 25px;
    padding: 25px;
}

div * {
    justify-self: center;
}

.btn_ctr {
    width: 100%;
    gap: 25px;
}

button {
    padding: 15px;
    background-color: rgb(139, 95, 214);
    border: 3px solid rgb(67, 42, 109);
    border-radius: 15px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

button:hover{
    border-width: 1px 1px 5px 5px;
}

form > *{
    margin: 10px 0px;
    overflow:  hidden;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    display: block;
}

.category {
    display: flex;
    column-gap: 10px;
    justify-content: space-between;
}

iframe {
    border-radius: 10px;
}